
 

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form action="Save" method="post">
    Name <input value="@ViewData["Name"]"/>
    price <input value="@ViewData["Price"]"/>
    <button>Submit</button>
</form>

