
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<form action="Update" method="post">
    Name <input value="@ViewData["Name"]" />
    price <input value="@ViewData["Price"]" />
    <button>Submit</button>
</form>

